
.app {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  padding: 20px;
}

/* Estilos para o modo escuro */
.app.dark {
  background-color: #333;
  color: white;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

